
html, body {
    width: 100%;
    min-height: 100vh;
}

* {
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

header {
    display: flex;
    justify-content: space-around;

    position: fixed;

    width: 100%;
    z-index: 999;

    background-color: white;
    box-shadow: 00px 0px 20px 40px white;

}

nav {
    display: flex;
    gap: 40px;
}

#name {
    padding: 10px;
}

nav a {
    padding: 10px;
    padding-left: 40px;
    padding-right: 40px;

    margin-bottom: 20px;
    border-radius: 60px;
    transition: .6s ease-in-out;
}

nav a:hover {
    color: white;
    background-color: black;
}

main {
    
    align-items: center;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 100px;
}

.hero {
    padding-top: 6%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3%;
}

.hero-image {
    
    max-width: 350px;
    min-width: 250px;
    width: 20%;
    margin: 40px;
    transition: .6s ease-in-out;
}

.hero-image:hover {
    width: 21%;
}

.hero-text {
    max-width: 20%;
}



#background {
    text-align: center;
}


#languages {
    display: flex;
    gap: 10px;
}

#languages img{
    height: 50px;
}










/*Test*/



.slider {
    background-color: green;
    height: 100px;
    margin: auto;
    position: relative;
    width: 90%;
    display: grid;
    place-items: center;
}

.slide-track {
    display: flex;
    width: calc(250px * 14);
    animation: scroll 400s linear infinite;
}


@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-250px * 9));
    }
    
}

.slide {
    height: 50px;
    display: flex;
    align-items: center;
    padding: 15px;
    perspective: 100px;
}

.slider img {
    height: 100%
}

.slider img:hover {
    transform: translateZ(20px);
    transition: transform 1.5s;
}


/* Slider Shadows */

.slider::before,
.slider::after {
    background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
    content: '';
    height: 100%;
    position: fixed;
    width: 15%;
    z-index: 2;
}

.slider::before {
    left:0;
}

.slider::after {
    right: 0;
    transform: rotateZ(180deg);
}














  
