* {
    margin: 0;
    transition: .6s ease-in-out;
}


html, body {
    width: 100%;
    max-width: 100vw;
    min-height: 100vh;
    background-color: #f5f5f7;
}


* {
    font-family: Arial, Helvetica, sans-serif;
    color: #1d1d1f;
}



a {
    text-decoration: none;
    color: #1d1d1f;
}

header {
    display: flex;
    justify-content: space-around;

    position: fixed;

    width: 100%;
    z-index: 999;

    background-color: #f5f5f7;
    box-shadow: 00px 0px 10px 10px #e9e9e944;
}

header.dark {
  box-shadow: 00px 0px 10px 10px #08080844;
}

nav {
    font-size: smaller;
    display: flex;
    gap: 40px;
}

#name {
    margin-top: 18px;
}

#name.dark {
    color: #f5f5f7;
}

#title-shell {
    min-width: 150px;
    margin-top: 18px;
    height: min-content;
}

nav a {
    padding: 10px;
    padding-left: 40px;
    padding-right: 40px;

    margin-bottom: 10px;
    margin-top: 10px;
    border-radius: 60px;
    transition: .4s ease-in-out;
}

nav a:hover {
    color: #f5f5f7;
    background-color: #1d1d1f;
}

nav a:hover.dark {
  color: #1d1d1f;
  background-color: #f7f5f7;
}

main {
    
    align-items: center;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 100px;
}

.hero {
    padding-top: 6%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3%;
}

.hero-image {
    
    max-width: 350px;
    min-width: 250px;
    width: 20%;
    margin: 40px;
    transition: 3s ease-in-out;
}

.hero-image:hover {
    width: 21%;
}

.hero-text {
    max-width: 30%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

button {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    padding: 10px 20px;
    border: none;
    color: white;
    background-color: #6ba1c4;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition: all 0.3s ease;
  }

  button:hover {
    background-color: #6191b1;
    box-shadow: 0 2px 7px rgba(0, 0, 0, 0.4);
  }
  
  button:active {
    background-color: #e2e6e9;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
    transform: translateY(1px);
  }







































































    




code {
    font-family: 'Courier New', Courier, monospace;
    font-size: smaller;
}


/* Window box syling. DON'T EDIT */

.app-window {
    width: 55%;
    min-height: 300px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    overflow: hidden;
    position: relative;
}

.app-window.terminal {
  background-color: #262626;
}

.app-window.dark {
  background-color: #492c47;
}

.window-header {
    display: flex;
    align-items: center;
    padding: 6px 12px;
    background-color: #f0f0f0;
}

.window-header.terminal {
  background-color: #404040;
}

.window-header.dark {
  background-color: #503851;
}

.window-button {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-right: 8px;
}

.window-button.exit {
    background-color: #fc605b;
}

.window-button.minimize {
    background-color: #fecb52;
}

.window-button.maximize {
    background-color: #2aca3e;
}

.window-content {
    padding: 20px;
}







  





 

/* TYPING TITLE DON'T TOUCH */

.typing-title {
    font-family: 'Courier New', Courier, monospace;
    width: min-content;
    white-space: nowrap;
    overflow: hidden;
    border-right: 2px solid;
    animation: typing 4s steps(30, end), blink-caret-black .75s step-end infinite;
    }
    
    .typing-title.dark {
    animation: typing 4s steps(30, end), blink-caret-white .75s step-end infinite;
    }
    
    @keyframes blink-caret-black {
    from, to {
    border-color: transparent;
    }
    50% {
    border-color: black;
    }
    }
    
    @keyframes blink-caret-white {
    from, to {
    border-color: transparent;
    }
    50% {
    border-color: white;
    }
    }
    








  




/************* Toggle Switch ************/

.toggle-switch {
    
    margin: 18px;
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
}

.toggle-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 20px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #58455b;
}

input:checked + .slider:before {
    transform: translateX(20px);
}

/*************************************/





.terminal-box {
    background-color: #262626;
    color: #e6e6e6;
    font-family: monospace;
    width: 55%;
    height: 300px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    overflow: hidden;
  }
  
  .terminal-header {
    height: 25px;
    background-color: #404040;
    padding: 0 10px;
    display: flex;
    align-items: center;
  }
  

  .terminal-body {
    padding: 10px;
    height: calc(100% - 25px);
    overflow-y: scroll;
    scrollbar-color: #666 #262626;
    scrollbar-width: thin;
  }
  
  .terminal-body::-webkit-scrollbar {
    width: 8px;
  }
  
  .terminal-body::-webkit-scrollbar-track {
    background-color: #262626;
  }
  
  .terminal-body::-webkit-scrollbar-thumb {
    background-color: #666;
    border-radius: 10px;
  }
  



















.dark {
    background-color: #2e2b31;
    color: #f5f5f7;
}





#typing-title.dark {
    color: #f5f5f7 !important;
    border-color: white;
}




















/* Hamburger Menu */


#menu__toggle {
  opacity: 1;
  position: fixed;
  top: -20px;
}
#menu__toggle:checked + .menu__btn > span {
  transform: rotate(45deg);
}
#menu__toggle:checked + .menu__btn > span::before {
  top: 0;
  transform: rotate(0deg);
}
#menu__toggle:checked + .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
  left: 0 !important;
}
.menu__btn {
  display: none;
  position: fixed;
  top: 26px;
  left: 20px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 999;
}
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 3.5px;
  border-radius: 9px;
  background-color: #1d1d1f;
  transition-duration: .25s;
}
.menu__btn > span::before {
  content: '';
  top: -8px;
}
.menu__btn > span::after {
  content: '';
  top: 8px;
}
.menu__box {
  display: block;
  position: fixed;
  top: 0;
  left: -100%;
  width: 300px;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  background-color: #f5f5f7;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
  transition-duration: .25s;
  z-index: 998;
}
.menu__item {
  display: block;
  padding: 12px 24px;
  color: #333;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  transition-duration: .25s;
}
.menu__item:hover {
  background-color: #cfdcd6;
}




/*  */


footer {
  height: 200px;
  margin-top: 40px;
  background-color: #404040;
}


footer.dark {
  background-color: rgb(36, 28, 39);
}





















@media(max-width:924px){
  .hero {
      flex-direction: column;
      margin-top: 11%;
  }

  .hero-text {
      max-width: 80%;
      text-align: center;
  }


  .app-window {
      width: 95%;
  }

  nav {
    display: none;
  }
  
  #title-shell {
    position: fixed;
    left: 100px;

  }

  #theme-toggle {
    position: fixed;
    right: 20px;
  }


  .menu__btn {
    display: inline;
  }

  header {
    display: flex;
    height: 55px;
  }

}




#run-button {
  height: 45px;
  width: 45px;
  border-radius: 999px;

  position: relative;
  left: calc(100% - 100px);
  bottom: 50px;

  justify-content: center;
  align-items: center;
}



















.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 0px;
}

.custom-button {
  
  position: relative;
  bottom: 50px;
  left: calc(50% - 50px);

  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  background-color: #4cd964;
  border: none;
  border-radius: 50%;
  padding: 14px 18px;
  color: white;
  font-size: .7rem;
  cursor: pointer;
  
  overflow: hidden;
}

.custom-button:hover {
  background-color: #6ba1c4;
  border-radius: 18px;
  padding-right: 18px;
}

.text {
  position: relative;
  left: -5px;
  opacity: 0;
  transition: none;
}

.custom-button:hover .text {
  opacity: 1;
  
}



#play-button{
  height: 20px;
  opacity: 1;
}

.custom-button:hover #play-button {
  display: none;
}